<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <% include css.ejs %>
</head>
<body>

<h1><%= title %></h1>

<p>Received CIN file: <%= cin_filename %>, size: <%= cin_filesize %> kb</p>
<p>Created CIN for local trading party: <%= cin_out %></p>

</body>
</html>
