<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <% include css.ejs %>
</head>
<body>

<h1><%= title %></h1>

<% if (upload) { %>
    <p>Received CIN file: <%= cin_filename %>, size: <%= cin_filesize %> kb</p>
    <p>Created CIN for local trading party: <%= cin_out %></p>
<% } else { %>
    <p>Please select the inbound CIN (from other data pool) to process:</p>
    <form method="post" enctype="multipart/form-data">
        <p>File: <input type="file" name="cin" /></p>
        <p><input type="submit" value="Upload" /></p>
    </form>
<% } %>

</body>
</html>
